.login-container {
    display: flex;
    height: 100vh;
    align-items: stretch;
}

.login-image {
    flex: 1;
    width: 70%;
    display: flex;
    background: url("../../../assets/login.png") no-repeat center center;
    background-size: cover;
    color: white;
    font-size: 70px;
    text-shadow: 2px 2px 4px darkgray;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    justify-content: center;
    text-align:center;
    padding-top: 43vh;
}

.login-form {
    flex: 1;
    max-width: 30%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-group {
    margin-bottom: 15px;
}

form h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"], button {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #85586F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.signup-modal {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

.signup-button {
    margin-top: 10px;
    background-color: #C3ACD0;
    color: white;
    border: none;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-modal input[type="email"], input[type="password"], button {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.error-message 
{
    color: red;
}

.login-form h2
{
    margin-bottom: 26px;
    color: #643843;
    font-size: 30px;    
}

.cafe-info-container h1{
    color: white;
    font-size: 70px;
    text-shadow: 2px 2px 4px darkgray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    margin-bottom: 3vh;
}

.cafe-info-container p{
    color: white;
    font-size: 40px;
}

.cafe-info-container{
    border-radius: 2rem;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: "40px";
    width: 100%;
}

.rating-container p{
    display: flex;
    justify-content: right;
    align-items: right;
}