.cafe-info-container h1{
    color: white;
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cafe-info-container p{
    color: white;
    font-size: 40px;
}

.cafe-info-container{
    border-radius: 2rem;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rating-container p{
    display: flex;
    justify-content: right;
    align-items: right;
}