.content-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    padding: 20px; 
}

.brandy-container, .ant-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex: 1; 
}

.brandy-elements, .ant-elements {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    flex-direction: column; 
    align-items: center; 
    flex: 1; 
}
