.content-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    padding: 20px; 
}

.brandy-container, .ant-container {
    display: flex;
    gap: 50px;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    flex: 1; 
}

.brandy-elements, .ant-elements {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    flex: 1;
}

.b-info-cont{
    margin: 40px;
    gap: 20px;
    height: 100px;
}


