.cards-grid {
  display: flex;
  width: 80vw;
  gap: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap:wrap;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  justify-items: center;
}

.category-heading {
  display: flex;
  /* background-color: #A67B5B; */
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 43px;
  margin-top: 60px;
  font-family:'Courier New', Courier, monospace
}

.cafe-page-container{
  margin: 0px;
}

.nav{
  position: fixed;
  width: 100%;
}

.empty{
  padding-block-start: 7vh;
}